.layout {
  min-height: 100vh;

  .header {
    background-color: $primary-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 55px;
  }

  .image {
    display: block;
  }

  .user {
    display: flex;
    align-items: center;
    color: white;

    .text {
      margin-left: 8px;
      color: white;
    }

    .icon {
      font-size: 27px;
    }
  }

  .content {
    background-color: #f5f7fb;
    min-height: 100vh;
    padding: 79px 24px 24px;
    transition: padding 0.2s ease-in-out;
    width: 100%;
  }

  .mobile-menu-button {
    display: none;
  }

  .menu-icon{
    color: $primary-black;
  }

  @media (max-width: 568px) {
    .image {
      display: none;
    }
    .user .text {
      color: black;
      font-size: 15px;
      margin-top: 7px;
    }

    .user .icon {
      font-size: 20px;
      color: black;
    }

    .content {
      padding: 70px 12px 16px;
      width: 100%;
    }

    .mobile-menu-button{
      display: block;
    }

    .header{
      background-color: #ffffff;
    }

  }
}
